<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <!-- Load static files and CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>Home</title>
</head>
<body>
    <div class="container">
        <h3 class="welcome">Welcome to AtlantaEats</h3>


        {% if user.is_authenticated %}
        <h3>Hello, {{ user.username }}</h3>
        <h4>You are successfully logged in.</h4>
        <button class="logout"><a href="/logout">Log Out</a></button>

        {% else %}
        <!-- Login Form on the Main Page -->
        <h3> </h3>

        <form action="/login" method="post" class="login-form">  <!-- Added class for styling -->
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required class="login-input">  <!-- Added class -->
            <br>
            <label for="pass1">Password:</label>
            <input type="password" id="pass1" name="pass1" placeholder="Enter your password" required class="login-input">  <!-- Added class -->
            <br>
            <p class="para-2"><a href= "{% url "forgotpassword" %}" >Forgot Password?</a></p>

            <button type="submit" class="login-button">Log In</button>  <!-- Added class -->
        </form>
            <h9>--------------------or-------------------</h9>
        <!-- Sign Up Button -->
        <button class="signup-button"><a href="{% url 'signup' %}">Sign Up</a></button>

        {% endif %}
    </div>
</body>
</html>
