<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class = "login-box">
        <h3>Welcome! Please Login</h3>
        <form action="/login" method="post">
            {% csrf_token %}
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" Required>
            <br>
            <label for="">Password</label>
            <input type="password" id="pass1" name="pass1" placeholder="Enter your password" Required>
            <br>
            <button type="submit" class="login-button">Log In</button>
        </form>
        <button class="signup-button">
            <a href="{% url 'signup' %}" class="signup-link">Sign Up</a>
        </button>
        <p class="para-2"><a href= "{% url "forgotpassword" %}" >Forgot Password?</a></p>
    </div>
</body>s
</html>