{#https://www.youtube.com/watch?v=Reu0hHbis5w#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scrolling Carousel</title>
    <link rel="stylesheet" href="./carousel_styles.css" />
</head>
<body>
    <div class="wrapper">
{#        rectangles for each individual restaurant card#}
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
        <div class="item item4"></div>
        <div class="item item5"></div>
        <div class="item item6"></div>
        <div class="item item7"></div>
        <div class="item item8"></div>
    </div>
</body>
</html>