    .account-button-container {
        position: absolute;
        top: 20px;
        right: 20px;
        margin-bottom: 20px;
    }
    .account-button {
        padding: 10px 15px;
        background-color: #8C4B3C;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }
    .account-button:hover {
        background-color: #4D1F1A;
    }
   body {
        font-family: 'Poppins', sans-serif;
        background-color: #FFF6E5;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 90%;
        max-width: 600px;
        margin: 60px auto; /* Center the container */
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-box {
    text-align: center; /* Center content in the main box */
    margin-bottom: 20px; /* Space below the main box */

}

.box-container {
    display: flex; /* Align boxes in a row */
    justify-content: space-between; /* Space out the boxes */
    background: #FEE9D9;
}

.box {
    flex: 1; /* Each box takes equal width */
    padding: 10px;
    margin: 5px; /* Space around boxes */
    background: #FAB3A9; /* Light background */
    border-radius: 5px;
}

.favorites-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
    margin: 20px 0; /* Add margin for spacing */
}

.favorites-list li {
    background-color: #FEE9D9; /* Light background for list items */
    border: 1px solid #ddd; /* Light border around list items */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Padding for list items */
    margin-bottom: 10px; /* Space between list items */
    transition: box-shadow 0.3s; /* Smooth shadow transition */
}

.favorites-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.favorites-list strong {
    color: #333; /* Darker color for strong text */
}
