/* General Page Styles */
body {
   font-family: "Inter", sans-serif;
    background-color: #EEE0D7;
    background-image:
        url("images/imageone23400.png"),
        url("images/Atlanta_Poster__Atlanta_Georgia_Print__Atlanta_GA_Skyline_Wall_Art_cityscape__Atlanta_photography_Minimalist_Custom_City_Print_by_Artica-removebg-preview 2.png");

    background-size: auto 130%, auto 120%; /* Adjust the height based on viewport, width auto */
    background-attachment: fixed, fixed; /* Fix the first image, allow the second to scroll */
    background-repeat: no-repeat, no-repeat; /* First image does not repeat, second image repeats */
    background-position: .4% 100%, 100% 0%; /* Set positions for each image */


    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Specific style for the "Forgot Password?" link */
.para-2 a {
    color: #D4B8A0; /* Change to your desired color */
    text-decoration: none; /* Remove underline */

}

.para-2 a:hover {
    color: #D4B8A0; /* Change hover color if needed */
    text-decoration: underline; /* Optional: Add underline on hover */


}
.login-form label {
    display: block;             /* Make the labels block elements */
    font-weight: lighter;       /* Light font weight */
    margin-bottom: 5px;         /* Space below the label */
    color: #FFF6E5;             /* Label text color */
   font-family: "Montserrat", sans-serif;
    font-size: 15px;            /* Adjust font size */
    text-align: left;           /* Align the text to the left */
}


/* Styling for input fields to appear as lines */
.login-input {
    width: 100%;                /* Full width */
    padding: 7px;               /* Padding inside the input */
    margin-top: 1px;            /* Space above the input */

    margin-bottom: 15px;        /* Space below the input */
    background-color: transparent;  /* Transparent background */
    border: none;               /* Remove border */
    border-bottom: 2px solid #4D1F1A; /* Add only a bottom border to create the line */
    font-size: 16px;            /* Larger font size */
    font-family: "Montserrat", sans-serif;
    color: #FFF6E5;               /* Text color */
}

.login-input::placeholder {
    color: #FFF6E5;             /* Placeholder text color */
    font-size: 16px;
    opacity: 0.6;               /* Slight transparency for the placeholder */


}

/* Add focus effect for the input fields */
.login-input:focus {
    outline: none;              /* Remove the default outline */
    color: #FFF6E5;
    border-bottom: 2px solid #FFF6E5; /* Change border color on focus */
}


.login-button {
    background-color: black; /* Green background */
    color: white;              /* White text */
    border: none;              /* No border */

    margin-top: -10px;
    margin-bottom: 10px;
    width: 80%;
    padding: 9px 10px;       /* Some padding */
    text-align: center;        /* Centered text */
    text-decoration: none;     /* No underline */
    display: inline-block;     /* Display as inline-block */
    font-size: 14px;          /* Larger text */
    cursor: pointer;           /* Pointer cursor on hover */
    border-radius: 10px;       /* Rounded corners */
   font-family: "Montserrat", sans-serif;


}

h9{
    color: #FFF6E5;
    opacity: .8;
}


.login-button:hover {
    background-color: #FFF6E5; /* Darker green on hover */
    color: black;             /* Change text color on hover (gold in this case) */

}

p {
    text-align: right; /* Center align */
    margin-left: 10px;
    font-size: 13px; /* Font size */
    margin-top: -5px;
    margin-bottom: 20px;
    color: black;
}


/* Alert Messages */
.alert {
    padding: 15px;
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.alert strong {
    font-weight: normal;
}

.alert button.close {
    background: none;
    border: none;

    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

button {
    border: none;              /* No border */
    background-color: #4D1F1A; /* Green background */
    width: 80%;
    text-align: center;        /* Centered text */
    text-decoration: none;     /* No underline */
    display: inline-block;     /* Display as inline-block */
    font-size: 14px;          /* Larger text */
    margin: 4px 2px;          /* Small margin */
    cursor: pointer;           /* Pointer cursor on hover */
    margin-top: 3%;
    border-radius: 10px;       /* Rounded corners */
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button a {

    display: block; /* Make the anchor tag a block-level element */
    width: 100%; /* Ensure it takes up the full width of the button */
    height: 100%; /* Ensure it takes up the full height of the button */
    color: white;
    text-decoration: none;

    padding: 8px 0; /* Optional, to make the text align well vertically */
   font-family: "Montserrat", sans-serif;
}
button:hover a {
    color: black;  /* Change text color to gold (or any color you prefer) */
}

button:hover {
    background-color: #FFF6E5; /* Darker shade on hover */
}

/* Centering the form content */
.container {
    background: #5F3830;
    padding: 50px;

    opacity: 96%; /* Makes the entire container, including text, 80% opaque */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Adding a darker border */
    border: 11px solid #4D1F1A; /* Darker shade of the background color */
    max-width: 400px;
    width: 100%;
    height: 40%;
    text-align: center;
}



h3.welcome {
    margin-bottom: 20px;
    font-size: 24px;

    font-weight: bold;
    color: #FFF6E5;
    position: relative;
    top: -20px; /* Move it up a bit */
}




/* Responsive design for mobile screens */
@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }
}
