<!DOCTYPE html>
<html lang="">
<head>
    <title>Google Maps Integration</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
    <script type="text/javascript">
        function initMap() {
            var location = {lat: 33.7833, lng: -84.3831};  // Example coordinates
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });

            {% if search_results %}
                var places = {{ search_results|safe }};
                places.forEach(function(place) {
                    var marker = new google.maps.Marker({
                        position: {lat: place.geometry.location.lat, lng: place.geometry.location.lng},
                        map: map,
                        title:place.name
                    });
            });
            {% endif %}
        }
    </script>
</head>
<body onload="initMap()">
    <h1>My Google Map</h1>
    <div id="map" style="height: 400px; width: 100%;"></div>
<h3> Hello, {{ fname }}</h3>
        <h4>You are successfully logged in.</h4>
        <button type="submit" class="logout"><a href="/logout">Log Out</a></button>

<!-- Search Form -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

<!-- Search Results -->
<ul>
    {% if search_results %}
        <h2>Search Results:</h2>
        {% for result in search_results %}
            <li>{{ result.name }} - {{ result.formatted_address }}</li>
        {% endfor %}
    {% endif %}
</ul>

</body>
</html>
